<div class="home-container">
    <div class="elevated-box">
      <div class="content">
        <div class="text-section">
          <h2>Hi, I'm Vlascu Constantin Iulian</h2>
          <p>
            I am a passionate and results-driven software developer with a strong foundation in back-end development using C++, Java, and C#. Skilled in creating efficient, scalable solutions, I specialize in implementing clean code practices, design patterns, and optimization algorithms. With experience in full-stack development, I also bring expertise in databases, REST APIs, and networking.
            <br>
            <br>
            I’ve gained valuable experience during my roles as a Project Support Programmer at Magic Lane and a Java Trainee at Nagarro. <br> <br> At Magic Lane, I honed my skills in building scalable APIs and solving complex routing problems with meta-heuristic algorithms.<br> <br> At Nagarro, I deepened my understanding of Java, focusing on clean, maintainable code and mastering concepts like multithreading, networking, and unit testing.
            <br>
            <br>
            Beyond my technical skills, I pride myself on critical thinking, teamwork, and adaptability, striving to deliver innovative and high-quality software solutions in every project I undertake.
          </p>
        </div>
        <div class="image-section">
          <img src="\eu.jpg" alt="Sample Image" loading="lazy" />
        </div>
      </div>
    </div>
  </div>