<div class="home-container">
    <div class="elevated-box">
      <div class="content">
        <div class="text-section">
          <h2>Welcome to My Digital Workshop</h2>
          <p>
            Dive into a world of creative coding and innovative solutions! Here, you’ll find a curated selection of my GitHub projects—ranging from efficient algorithms to full-stack applications.
            <br>
            <br>
            Each project is a reflection of my passion for solving problems and building tools that make life easier. Whether you’re here to collaborate, explore, or get inspired, this site is your gateway to my developer journey.
          </p>
        </div>
        <div class="image-section">
          <img src="\github-logo.jpg" alt="Sample Image" loading="lazy" />
        </div>
      </div>
    </div>
  </div>